.contacts {
  min-height: 600px;
  background-image: url(../img/plusi-bg.png); 
  background-position:top center;
  background-repeat:no-repeat;

  &_title {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 33px;
    color: #0a3e74;
    padding-top: 9px;
    padding-bottom: 28px;
  }

  &_map {
    display: inline-block;
    vertical-align: top;
    width: 600px;
  }

  &_info {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-left: 32px;
    padding-top: 20px;
  }

  &_info-item {
    margin-bottom: 30px;
  }

  &_info-item-label {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 20px;
    color: #0a3e74;
    margin-bottom: 14px;
  }

  &_info-item-val {
    display: block;
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 300;
    color: #2f3c49;
    font-size: 17px;

    b {
      font-weight: 400;
      color: #141313;
    }
  }
  
  &_info-item-val-line {
    padding: 5px 0;
  }

}