.equipments-list {
  font-size: 0;
  margin-top: 30px;

  &_clm {
    display: inline-block;
    vertical-align: top;
    width: 31%;
    margin: 0 1%;
  }

  &_clm-title {
    font-family: "Roboto";
    font-weight: 700;
    color: #2f3c49;
    font-size: 19px;
    line-height: 40px;
  }

  &_clm-items {
    border-right: 1px solid #eee;
    min-height: 307px;

    &__last {
      border-right:none;
    }
  }

  &_clm-item {
    
  }

  &_clm-item-link {
    font-family: "Roboto";
    font-weight: 400;
    color: #2f3c49;
    font-size: 17px;
    padding: 10px 10px;
    text-indent: 0;
    display: inline-block;
    position:relative;

    &:before {
      content: "";
      background-image:url("/img/item-triangle.png");
      background-repeat:no-repeat;
      background-position:0 0;
      background-size:cover;
      width: 6px;
      height: 10px;
      position:absolute;
      top: 12px;
      left: -6px;      
    }

    &:hover:before {
      background-image:url("/img/item-triangle-hover.png");
      left: -4px;
      transition: left 0.2s linear;
    }
  }
}

.equipments-detail {
  padding-left: 0px;
  min-height: 510px;
  font-size: 0;
}

.equipments-detail-cats {
  display: inline-block;
  vertical-align: top;
  width: 287px;
  padding-right: 0;
  
  &_item {
    display: block;
    font-family: "Roboto";
    font-weight: 400;
    color: #2f3c49;
    font-size: 17px;
    margin: 0px 0;
    padding: 13px;
    position: relative;
    line-height: 19px;

    &:hover {
      color: #000000;
    }
    
    &__active {
      background-color: #32486e;
      color: #fff;

      &:hover {
        color: #fff;
      }

      &:before {
        content: "";
        background-image: url(/img/item-triangle.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        width: 10px;
        height: 17px;
        position: absolute;
        top: 14px;
        right: 13px;    
      }
    }
  }
}

.equipments-detail-items {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  font-size: 0;
  border-left: 1px solid #eee;
  min-height: 220px;
  
  &_item {
    margin-left: 20px;
    border-bottom: 1px solid #f9f5f5;
    padding-top: 15px;
    padding-bottom: 15px;

    &:first-child {
      padding-top:0;
    }
  }

  &_manuf {
    float: left; 
    width: 200px;
  }

  &_manuf-logo {
    max-width: 137px;
    margin-top: 15px;
  }

  &_prods {
    display: inline-block;
    vertical-align: top;
  }

  &_prod {
    display: block;
    font-family: "Roboto";
    font-weight: 400;
    color: #2f3c49;
    font-size: 17px;
    margin: 15px 0;   
    text-decoration: underline;
    cursor: pointer; 
  }
}

.equipments-detail-content {
  display: none;
}