.main-form {
  height: 363px;
  background-image:url('/img/main-form-bg.jpg');
  background-repeat:no-repeat;
  background-position:top center;
  
  &_form {

  }

  &_title {
    color: #b3cfee;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 4px;
    padding-top: 28px;
  }

  &_subtitle {
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-style: italic;
  }

  &_inputs-line {
    margin-top: 36px;
    margin-bottom: 9px;
  }

  &_inp-wrap {
    display: inline-block;
    vertical-align: top;
    margin-right: 28px;

    &:last-child {
      margin-right: 0;
    }
  }

  &_inp-val {
    width: 267px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: 1px solid #cbd2de;
    padding-left:5px;
    box-sizing:border-box;
    color: #363e4a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;    
    outline: none;    

    &::placeholder {
      color: #363e4a;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
    }
  }

  &_inp-req {
    opacity: 0;
    visibility: hidden;
    color: #fe5252;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-top: 3px;
    margin-left: 4px;
  }

  &_text-wrap {

  }

  &_text-val {
    width: 865px;
    height: 81px;
    resize: none;
    box-sizing:border-box;
    border-radius: 4px;
    border: 1px solid #cbd2de;
    color: #363e4a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 8px;
    padding-left: 5px;
    outline: none;

    &::placeholder {
      color: #363e4a;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
    }
  }

  &_bottom {
    margin-top: 3px;
    width: 865px;
    position: relative;
  }

  &_confirmCehck-wrap {
    display: inline-block;
    vertical-align: top;
  }

  &_confirmCehck {
    display: inline-block;
    vertical-align: top;
  }

  &_confirmCehck-label {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-top: 2px;
  }

  &_confirmCehck-link {
    color: #fff;
  }

  &_full-confirm {
    display: none;
    position: absolute;
    top: -128px;
    left: 0;
    width: 500px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #eee;

    &.visible {
      display: block;
    }
  }

  &_full-confirm-close {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 15px;
    height: 15px;
    background-image: url(../img/close-black.png);
    background-size: cover;
    opacity: 0.8;
  }

  &_full-confirm-check {
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
  }

  &_full-confirm-label{
    display: inline-block;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    width: 470px;
  }


  &_send-btn {
    display: inline-block;
    vertical-align: top;
    width: 175px;
    height: 40px;
    border-radius: 3px;
    background-color: $basicgreen;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;    
    cursor: default;
    float: right;

    &:hover {
      background-color:$basicgreen-hover;
    }
  }

  &_success {
    display: none;
  }

  &_success-title {
    font-family: Roboto;
    font-weight: 400;
    color: #fff;
    font-size: 32px;
    text-align: center;
    padding-top:95px;
  }

  &_success-text {
    font-family: Roboto;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top:20px;
  }

  &_fail {
    display: none;
  }

  &_fail-title {
    font-family: Roboto;
    font-weight: 400;
    color: #fff;
    font-size: 32px;
    text-align: center;
    padding-top:95px;
  }

  &_fail-text {
    font-family: Roboto;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top:20px;
  }

  &_sending {
    display: none;
    padding:100px 0;
    text-align: center;
  }

  &_sending-img {
    width: 80px;
  }
}



.custom-form-error {
  .main-form {
    &_inp-val,&_text-val  {
      background-color: #ffc2c0;      
    }

    &_inp-req {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.5s linear;
    }

  }
}

.custom-form-sending {
  .main-form {
    &_sending {
      display: block;
    }

    &_form {
      display: none;
    }
  }
}

.custom-form-success {
  .main-form{
    &_success {
      display: block;
    }

    &_form {
      display: none;
    }
  }
}

.custom-form-fail {
  .main-form{
    &_fail {
      display: block;
    }

    &_form  {
      display: none;
    }
  }
}