@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=cyrillic);

b,strong {
  font-weight: 600;
}

body {
  position:relative;
}

.p-line {
  width: 980px;
  margin: 0 auto;

}

.title {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 40px;
  color: #0a3e74;
  margin-top: 15px;
}

.title_bold {
  font-weight: bold;
}

.header-top-wr {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;

  height: 41px;
  overflow: hidden;
  background-image: url(../img/top-menu-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  transition: all linear 0.05s;
}

.header-top {

}

.header-top_phone {
  display: inline-block;
  vertical-align: top;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #fff;
  margin-top: 9px;
  margin-left: 387px;
  text-decoration: none;
}

.header-top_email {
  display: inline-block;
  vertical-align: top;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  margin-top: 11px;
  margin-left: 46px;
  text-decoration: none;
}

.header-top_call-btn {
  display: inline-block;
  vertical-align: top;
  float: right;
  background-color: $basicgreen;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  padding: 8px 21px;
  color: #fff;
  cursor: pointer;
  margin-top: 5px;
}

.header-top_call-btn:hover{
  background-color: $basicgreen_hover;
}

.header-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 41px;
  border-bottom: 1px solid #eee;
}

.header {
  padding: 5px 0;
  position: relative;
  overflow: hidden;
}

.heade_bg1 {
  display: none;
  position: absolute;
  top: -27px;
  left: 51px;
  opacity: 0.4;
}

.heade_bg2 {
  display: none;
  position: absolute;
  top: -27px;
  right: 51px;
  opacity: 0.4;
  width: 261px;

}

.header_logo {
  display: inline-block;
  vertical-align: top;
}

.header_logo-img {
  width: 275px;
}

.header_menu-wr {
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
  float: right;
}

.header_menu-ul {
  width: 100%;
}

.header_menu-li {
  display: inline-block;
  vertical-align: top;
  padding: 14px 8px;
}

.header_menu-a {
  text-transform: uppercase;
  font-family: "Roboto Condensed",sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #2f466c;
  text-decoration: none;
  
  line-height: 35px;
  
  border-bottom: 1px solid transparent;
}

.header_menu-a:hover {
  border-bottom: 1px solid;
}

.header-wrap__fixed {
  top:0;
  background-color: rgb(255, 255, 255);
  left: 0px;
  z-index: 1;
  height: 50px;
  position: fixed;
  opacity: 1;
  box-shadow: 0px 2px 14px -4px rgba(0,0,0,0.75);
}

.header-wrap__fixed .header {
  padding: 0px 0;
}

.header-wrap__fixed .header_logo-img {
  width: 202px;
  margin-top: -5px;
}

.header-wrap__fixed .header_menu-wr {
  margin-top: 7px;
}

.header-wrap__fixed .header_menu-li {
  padding: 0px 17px;
}

.header-wrap__fixed .header_menu-a {
  font-size: 16px;   
}

.header-wrap__fixed .header_menu-li:hover {
  background-color: rgb(95, 146, 201);
  
}

.header-wrap__fixed .header_menu-li:hover .header_menu-a {
  color: #fff;
}

.header-wrap__fixed .header_menu-a:hover {
  border-bottom: 0;
}

.main-slider {
  height: 449px;
  position: relative;
  width: 100%;
  overflow: hidden;
/*  background-image: url(../img/baner.jpg);
  background-repeat: no-repeat;
  background-position: center;*/
}

.main-slider_bg {
  position: absolute;
  top:0;
  left: 50%;
  margin-left: -1280px;
}

.directions {
  height: 780px;
  background-image: url(../img/directions6.jpg);
  background-repeat: no-repeat;
  background-position:top, center;
}

.reasons {
  height: 350px;
  background-image: url(../img/prichini-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.reasons_title {

}

.reasons_items {
  margin-top: 20px;
}

.reasons_items-line {
  margin-bottom: 28px;
}

.reasons_item {
  display: inline-block;
  vertical-align: top;
  width: 320px;
  text-align: center;
}

.reasons_item-img {
  width: 80px;
}

.reasons_item-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #2f3c49;
  text-align: center;
  margin-top: 6px;
  line-height: 19px;
}

.reasons_item-text b {
  font-weight: 600;
}

.activities {
  height: 480px;
  position: relative;  
  background-image: url('../img/napravleniya-bg.png');
  background-position: top center;
  background-repeat: no-repeat;

}

.activities-line {

}

.activities_title {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 40px;
  color: #cde1f2;
}

.activities_items {
  margin-top: 35px;
  padding-left: 20px;
  position: relative;
}

.activities_item {
  display: inline-block;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 22px;
  color: #fcf9f4;
  margin-bottom: 27px;
  border-bottom: 1px solid #69ab22;
  padding-bottom: 5px;
  position: relative;
  cursor: pointer;
  -webkit-transition: width 0.3s ease-in;
  -moz-transition: width 0.3s ease-in;
  -o-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

.activities_item-line:hover .activities_item {
  /*color: #a8d0f0;*/
  opacity: 0.7;
  -webkit-transition: width 0.3s ease-in;
  -moz-transition: width 0.3s ease-in;
  -o-transition: width 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.activities_item b{
  color: rgb(178, 215, 234);
}

.activities_item__1 {
  width: 480px;
  
}

.activities_item-line:hover .activities_item__1{
  width: 500px; 
}

.activities_item__2 {
  width: 485px;
}

.activities_item-line:hover .activities_item__2{
  width: 505px; 
}

.activities_item__3 {
  width: 850px; 
}

.activities_item-line:hover .activities_item__3{
  width: 870px; 
}

.activities_item__4 {
  width: 850px;

}

.activities_item-line:hover .activities_item__4{
  width: 870px; 
}

.activities_item__5 {
  width: 775px;
}

.activities_item-line:hover .activities_item__5{
  width: 795px; 
}

.activities_item__6 {
  width: 770px;
}

.activities_item-line:hover .activities_item__6{
  width: 790px; 
}

.activities_item__7 {
  width: 444px;
}

.activities_item-line:hover .activities_item__7{
  width: 464px; 
}

.activities_item-corner {
  background-color: #69ab22;
  width: 12px;
  height: 12px;
  position: absolute;
  right: -12px;
  bottom: -6px;
}


.activities_full-item {
  position: absolute;
  left: 200px;
  width: 800px;
  padding: 15px;
  padding-top: 25px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: rgba(238, 238, 238, 0.95);
  z-index: 1;
  font-family: "Roboto";
  font-size: 17px;
  color: #000;
  line-height: 21px;
  opacity: 0;
  visibility: hidden;

}

// .activities_item-line:hover .activities_full-item{
//   opacity: 1;
//   visibility: visible;
//   left: 280px;
//   transition:opacity 0.3s ease-in,left 0.3s ease-in;
// }

.activities_full-item__1 {
  top:39px;
}

.activities_full-item__2 {
  top:93px;
}

.activities_full-item__3 {
  top:149px;
}




.works {
  position: relative;
  padding-bottom: 95px;
}

.works_bg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  opacity: 0.3;
}

.works_bg2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 600px;
  opacity: 0.15;
}

.works_text {
  font-family: "Roboto";
  font-weight: 300;
  color: #2f3c49;
  font-size: 17px;
  text-align: center;
  margin-top: 30px;
  line-height: 24px;
  margin-top: 7px;
}

.works_dekor-wr {
  text-align: center;
}

.works_dekor {
  display: inline-block;
  width: 220px;
  border-bottom: 1px solid #0a3e74;
}

.works_items {
  position: relative;
  margin-top: 20px;
}

.works_item {
  width: 320px !important;
  margin-right: 7px;
  background-color: #dae1ea;
  border-bottom: 4px solid #0a3e74;
  cursor: pointer;
  outline: none;
}

.works_item-img-wrap  {
  height: 213px;
  position: relative;
  overflow: hidden;
}

.works_item-img {
  width: 100%;
  position:absolute;
  top:0;
  left: 0;
  z-index: 1;
}

.work_item-hover {
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 24, 50, 0.58);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}

.works_item:hover .work_item-hover {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.1s linear;
}

.works_item-hover-btn {
  width: 204px;
  line-height: 40px;
  border-radius: 5px;
  font-family: "Roboto";
  font-size: 21px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 80px;
}


.works_item-text {
  font-family: "Roboto Condensed";
  font-size: 17px;
  font-weight: 400;
  color: #0a3e74;
  padding-top: 27px;
  padding-left: 23px;
  padding-right: 23px;
  line-height: 23px;
  margin-bottom: 17px;
}

.works_item-dekor {
  width: 159px;
  margin-left: 23px;
  border-bottom: 1px solid #728faf;
  margin-bottom: 9px;
}


.works_item-city {
  background-image: url(../img/green-rect.png);
  background-repeat: no-repeat;
  line-height: 35px;
  font-family: "Roboto";
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  padding-left: 23px;
  margin-bottom: 14px;
}

.works_items-prev {
  background-color: transparent;
  background-image: url(../img/slide-left.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 185px;
  left: -50px;
  width: 36px;
  height:66px;
  cursor: pointer;
}

.works_items-prev:hover {
  background-image: url(../img/slide-left_a.png);
}

.works_items-next {
  background-color: transparent;
  background-image: url(../img/slide-right.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 185px;
  right: -50px;
  width: 36px;
  height:66px;
  cursor: pointer;
}

.works_item-full {
  display: none;
}

.works_items-next:hover {
  background-image: url(../img/slide-right_a.png);
}

.works_items .slick-disabled {
  opacity: 0.1;
}

.works_btn-wr {
  margin-top: 70px;
  text-align: center;
}

.works_showAll-btn {
  display: inline;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 600;
  color: #0a3e74;
  padding: 10px 27px;
  border: 2px solid;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  line-height: 43px;
}

.works_showAll-btn:hover {
  color: #69ab22;
}

.products {
  /*background-image: url(../img/plusi-bg.png);*/
  /*background-repeat: no-repeat;
  background-position: top,center;*/
  height: 567px;
  font-size: 0;
  position: relative;
  overflow: hidden;
}

.products_bg {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1280px;
  z-index: -1;
}

.products_title{
  margin-bottom: 48px;
}

.products-line {
  width: 1090px;
  margin: 0 auto;
}

// .products_items {
//   display: inline-block;
//   vertical-align: top;
//   width: 50%;
//   position: relative;
// }

// .products_items-1 {
//   width: 40%;
// }

// .products_items-2 {
//   width: 40%;
//   margin-left: 13%;
// }

// .products_item {
//   display: inline-block;
//   vertical-align: top;  
//   position: absolute;
//   cursor: pointer;
//   width: 100%;
//   height: 100%;
//   text-decoration: none;
// }

// .products_item-1 {
//   top: 0;
//   left: 0;
// }

// .products_item-2 {
//   top: 84px;
//   left: 87px;
// }

// .products_item-3 {
//   top: 184px;
//   left: 0;
// }


// .products_item-img {
//   width: 120px;
// }

// .products_item-title {
//   font-family: "Roboto Condensed";
//   font-size: 25px;
//   font-weight: 600;
//   color: #316490;
//   text-transform: uppercase;
//   line-height: 25px;
//   position: absolute;
//   top: 9px;
//   left: 85px;
//   transition:left ease-in 0.1s;
// }

// .products_item-title:hover {
//   left: 88px;
//   color: #819DB6;
// }

// .products_item-title__single {
//   top:20px;
// }

.products_row {
  margin-left: 55px;
}

.products_row__last {
  margin-left: 144px;
}

.products_clm {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.products_item {
  position: relative;
  display: inline-block;
  width: 422px;
  height: 173px;
  padding: 29px 7px;
  padding-right: 0;
  box-sizing:border-box;
  text-decoration: none;
  //background-color: rgba(255, 255, 255, 0.77);
      background-image: linear-gradient(180deg, rgba(254, 254, 254, 0.8) 0%, #f6f6f6 50%, rgba(238, 243, 255, 0.81) 51%, rgba(255, 255, 255, 0.82) 100%);
  box-shadow: 3px 3px 9px 1px rgba(101, 100, 100, 0.05);
  border: 1px solid #e6ebf0;
  margin-bottom: 20px;
  overflow: hidden;
}

.products_item:hover{
  transition: background-color 0.2s linear;
  background-color: rgb(197, 218, 250);
  border: 1px solid #d5dee7;
}

.products_item__last{
  margin-left: 35px;
}

.products_item-img {
  width: 120px;
  margin-left: 20px;
}

.products_item-text-wr {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}

.products_item-text {
  display: table-cell;
  vertical-align: middle;
  height: 103px;
  font-family: "Roboto Condensed";
  font-size: 23px;
  font-weight: 600;
  color: #316490;
  text-transform: uppercase;
  line-height: 24px;
  width: 219px;
}

.prosducts_item-more {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 231px;
  height: 36px;
  padding-left: 20px;
  line-height: 36px;
  background-image: url(/img/products-more-bg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  font-family: "Roboto";
  font-weight: 300;
  color: #fff;
  font-size: 21px;
  text-align: center;
  box-sizing: border-box;
  opacity: 0.5;
  bottom:-36px;
}

.products_item:hover .prosducts_item-more{
  opacity: 1;
  bottom:0;
  transition: all 0.1s linear;
}



.clients {
  /*background-image: url(../img/clients-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;*/
  height: 310px;
  position: relative;
  overflow: hidden;
}

.clients_bg {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1280px;
  z-index: -1;
}

.clients-line {

}

.clients_title {
  color: #fff;
}

.clients_items {
  margin-top: 29px;
}

.clients_item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 130px;
}

.clients_item-img {

}

.clients_item-title {
  font-family: "Roboto Condensed";
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  line-height: 22px;
}

.c-logos {
  padding-bottom: 50px;
}

.c-logos_dekor-wr {
  margin-top: 56px;
}
.c-logos_dekor {
  width: 450px;
  border-bottom: 2px solid #ddd;
}
.c-logos_dekor__l {
  float: left;
}
.c-logos_dekor__r {
  float: right;
}

.c-logos_items {
  padding-top: 45px;
  position: relative;
}

.c-logos_items-prev {
  background-color: transparent;
  background-image: url(../img/m-slide-left.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -16px;
  left: 462px;
  width: 36px;
  height:66px;
  cursor: pointer;
}

.c-logos_items-prev:hover {
  background-image: url(../img/m-slide-left_a.png);
}

.c-logos_items-next {
  background-color: transparent;
  background-image: url(../img/m-slide-right.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -16px;
  right: 443px;
  width: 36px;
  height:66px;
  cursor: pointer;
}

.c-logos_items-next:hover {
  background-image: url(../img/m-slide-right_a.png);
}

.c-logos_items .slick-disabled {
  opacity: 0.1;
}

.c-logos_item {
  outline: none;
}

.c-logos_btn-wr {
  margin-top: 55px;
  text-align: center;
  margin-bottom: 35px;
}

.c-logos_showAll-btn {
  display: inline;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 600;
  color: #0a3e74;
  padding: 10px 60px;
  border: 2px solid;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  line-height: 43px;
}

.c-logos_showAll-btn:hover {
  color: #69ab22;
}

.about {
  /*background-image: url(../img/plusi-bg.png);
  background-repeat: no-repeat;
  background-position: center top;*/
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.about_bg {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1280px;
  z-index: -1;
}

.about-line {

}

.about_title {
  margin-bottom: 30px;
}

.about_text {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 300;
  color: #1f2428;
  line-height: 24px;
  margin-bottom: 13px;
}

.about_list {
  list-style: none;
  padding:0;
  margin:0;
}

.about_list-item {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 300;
  color: #1f2428;
  line-height: 24px;
  margin-bottom: 13px;
  padding-left: 9px;
  text-indent: 0;
  position: relative;
  margin-left: 10px;  
}

.about_list-item:before {
  content: url(../img/li-marker.png);
  color: #69ab22;
  font-size: 34px;
  position: absolute;
  left: -10px;
  top: -5px;
}


.about_clms {
  margin-top: 26px;
  margin-bottom: 25px;
}

.about_clm {
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

.about_clm__1 {

}

.about_clm__2 {

}

.about_clm-ul {
  list-style: none;
  padding:0;
  margin:0;
}

.about_clm-li {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 300;
  color: #1f2428;
  line-height: 24px;
  margin-bottom: 13px;
  padding-left: 9px;
  text-indent: 0;
  position: relative;
  margin-left: 10px;  
}

.about_clm-li:before {
  content: url(../img/li-marker.png);
  color: #69ab22;
  font-size: 34px;
  position: absolute;
  left: -10px;
  top: -5px;
}



.footer {
  /*background-image: url(../img/bottom.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  height: 680px;*/
  padding-top: 36px;
  padding-bottom: 18px;
}

.footer_clm1 {
  display: inline-block;
  vertical-align: top;
  width: 372px;
  padding-left: 49px;
  padding-top: 7px;
}

.footer_clm2 {
  display: inline-block;
  vertical-align: top;
  width: 326px;
  padding-top: 7px;
}

.footer_clm3 {
  display: inline-block;
  vertical-align: top;
  width: 223px;
}

.f-menu_title {
  font-family: "Roboto Condensed";
  font-size: 17px;
  color: #0a3e74;
  font-weight: 600;
  display: block;
  margin-bottom: 13px;
  text-decoration: none;
}

.f-menu_item {
  font-family: "Roboto";
  font-size: 14px;
  color: #2f3c49;
  font-weight: 300;
  display: block;
  text-decoration: none;
  line-height: 21px;
}

.footer_copyright {
  font-family: "Roboto";
  font-size: 14px;
  color: #2f3c49;
  font-weight: 300;
  margin-top: 34px;
}

.footer_logo {
  width: 212px;
  margin-left: 20px;
}   

.footer_phone {
  display: block;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 21px;
  color: #000;
  margin-top: 26px;
  padding-left: 29px; 
}

.footer_phone-pre {  
  font-family: "Roboto";
  font-weight: 300;
  font-size: 19px;
  color: #2f3c49;
}

.footer_email {
  display: block;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 17px;
  color: #2f3c49;
  margin-top: 10px;
  padding-left: 37px;
}

.footer_call-btn {
  display: inline-block;
  vertical-align: top;
  background-color: #69ab22;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 3px;
  text-decoration: none;
  padding: 12px 27px;
  color: #fff;
  cursor: pointer;
  margin-top: 22px;
  margin-left: 29px;
}

.footer_design {
  font-family: "Roboto";
  font-size: 14px;
  color: #6f8294;
  font-weight: 400;
  margin-top: 47px;
  display: block;
}

.footer_design-a {
  font-family: "Roboto Condensed";
  font-size: 14px;
  color: #6f8294;
  font-weight: 400;
}

.footer_design-a:hover {
  color: #2f3c49;
}


