.text-page-menu-list {
  border-left: 1px solid #eaf4ff;
  position:relative;
  width: 300px;

  &__middle {
    position: fixed;
    top: 114px;
    left: 50%;
    margin-left: -601px;
    z-index: 10;
  }

  &__bottom {
    position: absolute;
    bottom:80px;
  }

  &_item {
    background-color: #fbfdff;
    color: #2f3c49;
  }

  &_item:hover {
    background-color: #e4ecfa;
  }

  &_link {
    font-family: "Roboto";
    font-weight: 400;
    color: inherit;
    font-size: 18px;
    display: block;
    padding: 16px 0;
    padding-left: 20px;
  }

  &_item__active {
    background-color: #32486e !important;
    color: #fff;    
  }  

  &_lev2-list {
    background-color: #eef4ff;
    padding: 10px 0;
    list-style-type: none;
    color: #32486e;
    font-size: 14px;
    display: none;

    &__visible {
      display: block;
    }
  }

  &_lev2-item {
    padding-left: 0;
    background-image:url('/img/blue-dot.png');
    background-position:28px 19px;
    background-repeat:no-repeat;
    
    &__active {
      background-color: #fcfdff !important; 
      background-image:url('/img/green-dot.png'); 
    }

    &:hover {
      background-color: #f7faff;  
    }
  }

  &_lev2-link {
    font-family: "Roboto";
    font-weight: 400;
    color: inherit;
    font-size: 17px;
    display: block;
    padding: 13px 0;
    padding-left: 44px;
  }

}

.text-page {
  width:1200px;
  margin:0 auto;
  font-size: 0;

  &_catalog-load {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 23px;
    color: #0a3e74;
    text-align: center;
    padding-top: 40px;
  }

  &_menu {
    width: 300px;
    //margin-left: 115px;
    padding-top: 57px;
    position:relative;
    box-sizing:border-box;
    float: left;
  }

  &_content {
    width: 100%;
    min-height: 600px;
    padding-left: 350px;
    box-sizing: border-box;
    font-size: 17px;
  }


  &_title {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 33px;
    color: #0a3e74;
    padding-top: 50px;
    padding-bottom: 40px;
    position: relative;
    padding-left: 92px;
    
    &__service {
      line-height: 65px;
      &:before {
        position: absolute;
        content: "";
        top: 53px;
        left: 0px;
        background-image: url(../img/aes2.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        width: 75px;
        height: 65px;
      }
    }

    &__proekt {
      line-height: 65px;
      &:before {
        position: absolute;
        content: "";
        top: 53px;
        left: 0px;
        background-image: url(../img/aes1.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        width: 75px;
        height: 65px;
      }
    }

    &__stroymontaj {
      &:before {
        position: absolute;
        content: "";
        top: 53px;
        left: 0px;
        background-image: url(../img/aes3.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        width: 75px;
        height: 65px;
      }
    }

    &__komplect {
      line-height: 65px;
      &:before {
        position: absolute;
        content: "";
        top: 53px;
        left: 0px;
        background-image: url(../img/aes5.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        width: 75px;
        height: 65px;
      }
    }

    &__dispetcher {
      line-height: 65px;
      &:before {
        position: absolute;
        content: "";
        top: 53px;
        left: 0px;
        background-image: url(../img/aes4.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        width: 75px;
        height: 65px;
      }
    }

    &__proverka {
      font-size: 30px;
      line-height: 33px;
      &:before {
        position: absolute;
        content: "";
        top: 53px;
        left: 0px;
        background-image: url(../img/aes6.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        width: 75px;
        height: 65px;
      }
    }
  }


  &_text {
    padding-bottom: 60px;

    p{
      font-family: "Roboto";
      font-weight: 400;
      color: #2f3c49;
      font-size: 17px;
      text-indent: 20px;
      margin: 5px 0;
      text-align: justify;
    }

    h3 {
      font-family: "Roboto";
      font-weight: 700;
      color: #2f3c49;
      font-size: 23px;
      margin-bottom: 25px;
    }

    h4 {
      font-family: "Roboto";
      font-weight: 700;
      color: #2f3c49;
      font-size: 20px;
      margin-top: 35px;
      margin-bottom: 25px;
    }

    ul {
      padding-left: 60px;

      li {
        font-family: "Roboto";
        font-weight: 400;
        color: #2f3c49;
        font-size: 17px;
        margin: 15px 0;
        position: relative;
        font-style: italic;
      }

      li:before {
        content: url(../img/li-marker.png);
        color: #69ab22;
        font-size: 34px;
        position: absolute;
        left: -21px;
        top: -12px;
      }
    }

    ol {
      padding-left: 60px;
      list-style-type: decimal;

      li {
        font-family: "Roboto";
        font-weight: 400;
        color: #2f3c49;
        font-size: 17px;
        margin: 24px 0;
        position: relative;
        font-style: normal;

        ul {
          padding-left: 60px;
          list-style-type: disc;

          li {
            font-family: "Roboto";
            font-weight: 400;
            color: #2f3c49;
            font-size: 17px;
            margin: 15px 0;
            position: relative;
            font-style: italic;
          }

          li:before {
            content: "";
          }
        }
      }      
    }
  }  
}