/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=cyrillic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

b, strong {
  font-weight: 600;
}

body {
  position: relative;
}

.p-line {
  width: 980px;
  margin: 0 auto;
}

.title {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 40px;
  color: #0a3e74;
  margin-top: 15px;
}

.title_bold {
  font-weight: bold;
}

.header-top-wr {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
  height: 41px;
  overflow: hidden;
  background-image: url(../img/top-menu-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all linear 0.05s;
  transition: all linear 0.05s;
}

.header-top_phone {
  display: inline-block;
  vertical-align: top;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #fff;
  margin-top: 9px;
  margin-left: 387px;
  text-decoration: none;
}

.header-top_email {
  display: inline-block;
  vertical-align: top;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  margin-top: 11px;
  margin-left: 46px;
  text-decoration: none;
}

.header-top_call-btn {
  display: inline-block;
  vertical-align: top;
  float: right;
  background-color: #7fa935;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  padding: 8px 21px;
  color: #fff;
  cursor: pointer;
  margin-top: 5px;
}

.header-top_call-btn:hover {
  background-color: #a3d942;
}

.header-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 41px;
  border-bottom: 1px solid #eee;
}

.header {
  padding: 5px 0;
  position: relative;
  overflow: hidden;
}

.heade_bg1 {
  display: none;
  position: absolute;
  top: -27px;
  left: 51px;
  opacity: 0.4;
}

.heade_bg2 {
  display: none;
  position: absolute;
  top: -27px;
  right: 51px;
  opacity: 0.4;
  width: 261px;
}

.header_logo {
  display: inline-block;
  vertical-align: top;
}

.header_logo-img {
  width: 275px;
}

.header_menu-wr {
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
  float: right;
}

.header_menu-ul {
  width: 100%;
}

.header_menu-li {
  display: inline-block;
  vertical-align: top;
  padding: 14px 8px;
}

.header_menu-a {
  text-transform: uppercase;
  font-family: "Roboto Condensed",sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #2f466c;
  text-decoration: none;
  line-height: 35px;
  border-bottom: 1px solid transparent;
}

.header_menu-a:hover {
  border-bottom: 1px solid;
}

.header-wrap__fixed {
  top: 0;
  background-color: white;
  left: 0px;
  z-index: 1;
  height: 50px;
  position: fixed;
  opacity: 1;
  -webkit-box-shadow: 0px 2px 14px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 14px -4px rgba(0, 0, 0, 0.75);
}

.header-wrap__fixed .header {
  padding: 0px 0;
}

.header-wrap__fixed .header_logo-img {
  width: 202px;
  margin-top: -5px;
}

.header-wrap__fixed .header_menu-wr {
  margin-top: 7px;
}

.header-wrap__fixed .header_menu-li {
  padding: 0px 17px;
}

.header-wrap__fixed .header_menu-a {
  font-size: 16px;
}

.header-wrap__fixed .header_menu-li:hover {
  background-color: #5f92c9;
}

.header-wrap__fixed .header_menu-li:hover .header_menu-a {
  color: #fff;
}

.header-wrap__fixed .header_menu-a:hover {
  border-bottom: 0;
}

.main-slider {
  height: 449px;
  position: relative;
  width: 100%;
  overflow: hidden;
  /*  background-image: url(../img/baner.jpg);
  background-repeat: no-repeat;
  background-position: center;*/
}

.main-slider_bg {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1280px;
}

.directions {
  height: 780px;
  background-image: url(../img/directions6.jpg);
  background-repeat: no-repeat;
  background-position: top, center;
}

.reasons {
  height: 350px;
  background-image: url(../img/prichini-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.reasons_items {
  margin-top: 20px;
}

.reasons_items-line {
  margin-bottom: 28px;
}

.reasons_item {
  display: inline-block;
  vertical-align: top;
  width: 320px;
  text-align: center;
}

.reasons_item-img {
  width: 80px;
}

.reasons_item-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #2f3c49;
  text-align: center;
  margin-top: 6px;
  line-height: 19px;
}

.reasons_item-text b {
  font-weight: 600;
}

.activities {
  height: 480px;
  position: relative;
  background-image: url("../img/napravleniya-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.activities_title {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 40px;
  color: #cde1f2;
}

.activities_items {
  margin-top: 35px;
  padding-left: 20px;
  position: relative;
}

.activities_item {
  display: inline-block;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 22px;
  color: #fcf9f4;
  margin-bottom: 27px;
  border-bottom: 1px solid #69ab22;
  padding-bottom: 5px;
  position: relative;
  cursor: pointer;
  -webkit-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

.activities_item-line:hover .activities_item {
  /*color: #a8d0f0;*/
  opacity: 0.7;
  -webkit-transition: width 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.activities_item b {
  color: #b2d7ea;
}

.activities_item__1 {
  width: 480px;
}

.activities_item-line:hover .activities_item__1 {
  width: 500px;
}

.activities_item__2 {
  width: 485px;
}

.activities_item-line:hover .activities_item__2 {
  width: 505px;
}

.activities_item__3 {
  width: 850px;
}

.activities_item-line:hover .activities_item__3 {
  width: 870px;
}

.activities_item__4 {
  width: 850px;
}

.activities_item-line:hover .activities_item__4 {
  width: 870px;
}

.activities_item__5 {
  width: 775px;
}

.activities_item-line:hover .activities_item__5 {
  width: 795px;
}

.activities_item__6 {
  width: 770px;
}

.activities_item-line:hover .activities_item__6 {
  width: 790px;
}

.activities_item__7 {
  width: 444px;
}

.activities_item-line:hover .activities_item__7 {
  width: 464px;
}

.activities_item-corner {
  background-color: #69ab22;
  width: 12px;
  height: 12px;
  position: absolute;
  right: -12px;
  bottom: -6px;
}

.activities_full-item {
  position: absolute;
  left: 200px;
  width: 800px;
  padding: 15px;
  padding-top: 25px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: rgba(238, 238, 238, 0.95);
  z-index: 1;
  font-family: "Roboto";
  font-size: 17px;
  color: #000;
  line-height: 21px;
  opacity: 0;
  visibility: hidden;
}

.activities_full-item__1 {
  top: 39px;
}

.activities_full-item__2 {
  top: 93px;
}

.activities_full-item__3 {
  top: 149px;
}

.works {
  position: relative;
  padding-bottom: 95px;
}

.works_bg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  opacity: 0.3;
}

.works_bg2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 600px;
  opacity: 0.15;
}

.works_text {
  font-family: "Roboto";
  font-weight: 300;
  color: #2f3c49;
  font-size: 17px;
  text-align: center;
  margin-top: 30px;
  line-height: 24px;
  margin-top: 7px;
}

.works_dekor-wr {
  text-align: center;
}

.works_dekor {
  display: inline-block;
  width: 220px;
  border-bottom: 1px solid #0a3e74;
}

.works_items {
  position: relative;
  margin-top: 20px;
}

.works_item {
  width: 320px !important;
  margin-right: 7px;
  background-color: #dae1ea;
  border-bottom: 4px solid #0a3e74;
  cursor: pointer;
  outline: none;
}

.works_item-img-wrap {
  height: 213px;
  position: relative;
  overflow: hidden;
}

.works_item-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.work_item-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 24, 50, 0.58);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}

.works_item:hover .work_item-hover {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.works_item-hover-btn {
  width: 204px;
  line-height: 40px;
  border-radius: 5px;
  font-family: "Roboto";
  font-size: 21px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 80px;
}

.works_item-text {
  font-family: "Roboto Condensed";
  font-size: 17px;
  font-weight: 400;
  color: #0a3e74;
  padding-top: 27px;
  padding-left: 23px;
  padding-right: 23px;
  line-height: 23px;
  margin-bottom: 17px;
}

.works_item-dekor {
  width: 159px;
  margin-left: 23px;
  border-bottom: 1px solid #728faf;
  margin-bottom: 9px;
}

.works_item-city {
  background-image: url(../img/green-rect.png);
  background-repeat: no-repeat;
  line-height: 35px;
  font-family: "Roboto";
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  padding-left: 23px;
  margin-bottom: 14px;
}

.works_items-prev {
  background-color: transparent;
  background-image: url(../img/slide-left.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 185px;
  left: -50px;
  width: 36px;
  height: 66px;
  cursor: pointer;
}

.works_items-prev:hover {
  background-image: url(../img/slide-left_a.png);
}

.works_items-next {
  background-color: transparent;
  background-image: url(../img/slide-right.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 185px;
  right: -50px;
  width: 36px;
  height: 66px;
  cursor: pointer;
}

.works_item-full {
  display: none;
}

.works_items-next:hover {
  background-image: url(../img/slide-right_a.png);
}

.works_items .slick-disabled {
  opacity: 0.1;
}

.works_btn-wr {
  margin-top: 70px;
  text-align: center;
}

.works_showAll-btn {
  display: inline;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 600;
  color: #0a3e74;
  padding: 10px 27px;
  border: 2px solid;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  line-height: 43px;
}

.works_showAll-btn:hover {
  color: #69ab22;
}

.products {
  /*background-image: url(../img/plusi-bg.png);*/
  /*background-repeat: no-repeat;
  background-position: top,center;*/
  height: 567px;
  font-size: 0;
  position: relative;
  overflow: hidden;
}

.products_bg {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1280px;
  z-index: -1;
}

.products_title {
  margin-bottom: 48px;
}

.products-line {
  width: 1090px;
  margin: 0 auto;
}

.products_row {
  margin-left: 55px;
}

.products_row__last {
  margin-left: 144px;
}

.products_clm {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.products_item {
  position: relative;
  display: inline-block;
  width: 422px;
  height: 173px;
  padding: 29px 7px;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 254, 254, 0.8)), color-stop(50%, #f6f6f6), color-stop(51%, rgba(238, 243, 255, 0.81)), to(rgba(255, 255, 255, 0.82)));
  background-image: linear-gradient(180deg, rgba(254, 254, 254, 0.8) 0%, #f6f6f6 50%, rgba(238, 243, 255, 0.81) 51%, rgba(255, 255, 255, 0.82) 100%);
  -webkit-box-shadow: 3px 3px 9px 1px rgba(101, 100, 100, 0.05);
  box-shadow: 3px 3px 9px 1px rgba(101, 100, 100, 0.05);
  border: 1px solid #e6ebf0;
  margin-bottom: 20px;
  overflow: hidden;
}

.products_item:hover {
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  background-color: #c5dafa;
  border: 1px solid #d5dee7;
}

.products_item__last {
  margin-left: 35px;
}

.products_item-img {
  width: 120px;
  margin-left: 20px;
}

.products_item-text-wr {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}

.products_item-text {
  display: table-cell;
  vertical-align: middle;
  height: 103px;
  font-family: "Roboto Condensed";
  font-size: 23px;
  font-weight: 600;
  color: #316490;
  text-transform: uppercase;
  line-height: 24px;
  width: 219px;
}

.prosducts_item-more {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 231px;
  height: 36px;
  padding-left: 20px;
  line-height: 36px;
  background-image: url(/img/products-more-bg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  font-family: "Roboto";
  font-weight: 300;
  color: #fff;
  font-size: 21px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0.5;
  bottom: -36px;
}

.products_item:hover .prosducts_item-more {
  opacity: 1;
  bottom: 0;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.clients {
  /*background-image: url(../img/clients-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;*/
  height: 310px;
  position: relative;
  overflow: hidden;
}

.clients_bg {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1280px;
  z-index: -1;
}

.clients_title {
  color: #fff;
}

.clients_items {
  margin-top: 29px;
}

.clients_item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 130px;
}

.clients_item-title {
  font-family: "Roboto Condensed";
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  line-height: 22px;
}

.c-logos {
  padding-bottom: 50px;
}

.c-logos_dekor-wr {
  margin-top: 56px;
}

.c-logos_dekor {
  width: 450px;
  border-bottom: 2px solid #ddd;
}

.c-logos_dekor__l {
  float: left;
}

.c-logos_dekor__r {
  float: right;
}

.c-logos_items {
  padding-top: 45px;
  position: relative;
}

.c-logos_items-prev {
  background-color: transparent;
  background-image: url(../img/m-slide-left.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -16px;
  left: 462px;
  width: 36px;
  height: 66px;
  cursor: pointer;
}

.c-logos_items-prev:hover {
  background-image: url(../img/m-slide-left_a.png);
}

.c-logos_items-next {
  background-color: transparent;
  background-image: url(../img/m-slide-right.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -16px;
  right: 443px;
  width: 36px;
  height: 66px;
  cursor: pointer;
}

.c-logos_items-next:hover {
  background-image: url(../img/m-slide-right_a.png);
}

.c-logos_items .slick-disabled {
  opacity: 0.1;
}

.c-logos_item {
  outline: none;
}

.c-logos_btn-wr {
  margin-top: 55px;
  text-align: center;
  margin-bottom: 35px;
}

.c-logos_showAll-btn {
  display: inline;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 600;
  color: #0a3e74;
  padding: 10px 60px;
  border: 2px solid;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  line-height: 43px;
}

.c-logos_showAll-btn:hover {
  color: #69ab22;
}

.about {
  /*background-image: url(../img/plusi-bg.png);
  background-repeat: no-repeat;
  background-position: center top;*/
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.about_bg {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1280px;
  z-index: -1;
}

.about_title {
  margin-bottom: 30px;
}

.about_text {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 300;
  color: #1f2428;
  line-height: 24px;
  margin-bottom: 13px;
}

.about_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about_list-item {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 300;
  color: #1f2428;
  line-height: 24px;
  margin-bottom: 13px;
  padding-left: 9px;
  text-indent: 0;
  position: relative;
  margin-left: 10px;
}

.about_list-item:before {
  content: url(../img/li-marker.png);
  color: #69ab22;
  font-size: 34px;
  position: absolute;
  left: -10px;
  top: -5px;
}

.about_clms {
  margin-top: 26px;
  margin-bottom: 25px;
}

.about_clm {
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

.about_clm-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about_clm-li {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 300;
  color: #1f2428;
  line-height: 24px;
  margin-bottom: 13px;
  padding-left: 9px;
  text-indent: 0;
  position: relative;
  margin-left: 10px;
}

.about_clm-li:before {
  content: url(../img/li-marker.png);
  color: #69ab22;
  font-size: 34px;
  position: absolute;
  left: -10px;
  top: -5px;
}

.footer {
  /*background-image: url(../img/bottom.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  height: 680px;*/
  padding-top: 36px;
  padding-bottom: 18px;
}

.footer_clm1 {
  display: inline-block;
  vertical-align: top;
  width: 372px;
  padding-left: 49px;
  padding-top: 7px;
}

.footer_clm2 {
  display: inline-block;
  vertical-align: top;
  width: 326px;
  padding-top: 7px;
}

.footer_clm3 {
  display: inline-block;
  vertical-align: top;
  width: 223px;
}

.f-menu_title {
  font-family: "Roboto Condensed";
  font-size: 17px;
  color: #0a3e74;
  font-weight: 600;
  display: block;
  margin-bottom: 13px;
  text-decoration: none;
}

.f-menu_item {
  font-family: "Roboto";
  font-size: 14px;
  color: #2f3c49;
  font-weight: 300;
  display: block;
  text-decoration: none;
  line-height: 21px;
}

.footer_copyright {
  font-family: "Roboto";
  font-size: 14px;
  color: #2f3c49;
  font-weight: 300;
  margin-top: 34px;
}

.footer_logo {
  width: 212px;
  margin-left: 20px;
}

.footer_phone {
  display: block;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 21px;
  color: #000;
  margin-top: 26px;
  padding-left: 29px;
}

.footer_phone-pre {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 19px;
  color: #2f3c49;
}

.footer_email {
  display: block;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 17px;
  color: #2f3c49;
  margin-top: 10px;
  padding-left: 37px;
}

.footer_call-btn {
  display: inline-block;
  vertical-align: top;
  background-color: #69ab22;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 3px;
  text-decoration: none;
  padding: 12px 27px;
  color: #fff;
  cursor: pointer;
  margin-top: 22px;
  margin-left: 29px;
}

.footer_design {
  font-family: "Roboto";
  font-size: 14px;
  color: #6f8294;
  font-weight: 400;
  margin-top: 47px;
  display: block;
}

.footer_design-a {
  font-family: "Roboto Condensed";
  font-size: 14px;
  color: #6f8294;
  font-weight: 400;
}

.footer_design-a:hover {
  color: #2f3c49;
}

.work-viewer-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 10;
}

.work-viewer-bg_close {
  position: absolute;
  top: 42px;
  left: 50%;
  margin-left: 484px;
  width: 27px;
  height: 27px;
  background-image: url(/img/close.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.work-viewer-bg_close:hover {
  opacity: 0.7;
}

.work-viewer-bg_arrow-left {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: 484px;
  margin-top: -49px;
  width: 50px;
  height: 97px;
  background-image: url(/img/work-viewer-arrow-left.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.work-viewer-bg_arrow-left:hover {
  opacity: 0.7;
}

.work-viewer-bg_arrow-right {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 484px;
  margin-top: -49px;
  width: 50px;
  height: 97px;
  background-image: url(/img/work-viewer-arrow-right.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.work-viewer-bg_arrow-right:hover {
  opacity: 0.7;
}

.work-viewer {
  display: none;
  position: fixed;
  top: 40px;
  width: 900px;
  left: 50%;
  margin-left: -450px;
  bottom: 40px;
  max-height: 800px;
  background-color: #fff;
  z-index: 11;
  overflow-y: auto;
}

.work-viewer-content_head {
  font-size: 0;
  margin-top: 26px;
  padding: 0 20px;
}

.work-viewer-content_head-wrapForImg {
  display: inline-block;
  vertical-align: top;
  width: 450px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.work-viewer-content_head-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.work-viewer-content_head-info {
  display: inline-block;
  vertical-align: top;
  width: 390px;
  height: 281px;
  padding-right: 16px;
  padding-left: 31px;
  padding-top: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.work-viewer-content_head-title {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 25px;
  color: #3c4b55;
}

.work-viewer-content_head-city {
  background-image: url(../img/green-rect.png);
  background-repeat: no-repeat;
  line-height: 35px;
  font-family: "Roboto";
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  padding-left: 23px;
  position: absolute;
  bottom: 0;
  left: 32px;
  width: 259px;
}

.work-viewer-content_body-text {
  padding: 0 20px;
  padding-bottom: 30px;
}

.work-viewer-content_body-text p {
  font-family: "Roboto";
  font-weight: 400;
  color: #2f3c49;
  font-size: 17px;
  text-indent: 20px;
  margin: 5px 0;
  text-align: justify;
}

.work-viewer-content_body-text h1, .work-viewer-content_body-text h2, .work-viewer-content_body-text h3, .work-viewer-content_body-text h4, .work-viewer-content_body-text h5, .work-viewer-content_body-text h6 {
  font-family: "Roboto";
  font-weight: 700;
  color: #2f3c49;
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 25px;
}

.work-viewer-content_body-text ul {
  padding-left: 60px;
}

.work-viewer-content_body-text li {
  font-family: "Roboto";
  font-weight: 400;
  color: #2f3c49;
  font-size: 17px;
  margin: 15px 0;
  position: relative;
  font-style: italic;
  line-height: 24px;
}

.work-viewer-content_body-text li:before {
  content: url(../img/li-marker.png);
  color: #69ab22;
  font-size: 34px;
  position: absolute;
  left: -21px;
  top: -3px;
}

.main-form {
  height: 363px;
  background-image: url("/img/main-form-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.main-form_title {
  color: #b3cfee;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 4px;
  padding-top: 28px;
}

.main-form_subtitle {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-style: italic;
}

.main-form_inputs-line {
  margin-top: 36px;
  margin-bottom: 9px;
}

.main-form_inp-wrap {
  display: inline-block;
  vertical-align: top;
  margin-right: 28px;
}

.main-form_inp-wrap:last-child {
  margin-right: 0;
}

.main-form_inp-val {
  width: 267px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  border: 1px solid #cbd2de;
  padding-left: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #363e4a;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  outline: none;
}

.main-form_inp-val::-webkit-input-placeholder {
  color: #363e4a;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

.main-form_inp-val:-ms-input-placeholder {
  color: #363e4a;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

.main-form_inp-val::-ms-input-placeholder {
  color: #363e4a;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

.main-form_inp-val::placeholder {
  color: #363e4a;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

.main-form_inp-req {
  opacity: 0;
  visibility: hidden;
  color: #fe5252;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-top: 3px;
  margin-left: 4px;
}

.main-form_text-val {
  width: 865px;
  height: 81px;
  resize: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #cbd2de;
  color: #363e4a;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 8px;
  padding-left: 5px;
  outline: none;
}

.main-form_text-val::-webkit-input-placeholder {
  color: #363e4a;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

.main-form_text-val:-ms-input-placeholder {
  color: #363e4a;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

.main-form_text-val::-ms-input-placeholder {
  color: #363e4a;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

.main-form_text-val::placeholder {
  color: #363e4a;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

.main-form_bottom {
  margin-top: 3px;
  width: 865px;
  position: relative;
}

.main-form_confirmCehck-wrap {
  display: inline-block;
  vertical-align: top;
}

.main-form_confirmCehck {
  display: inline-block;
  vertical-align: top;
}

.main-form_confirmCehck-label {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-top: 2px;
}

.main-form_confirmCehck-link {
  color: #fff;
}

.main-form_full-confirm {
  display: none;
  position: absolute;
  top: -128px;
  left: 0;
  width: 500px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #eee;
}

.main-form_full-confirm.visible {
  display: block;
}

.main-form_full-confirm-close {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 15px;
  height: 15px;
  background-image: url(../img/close-black.png);
  background-size: cover;
  opacity: 0.8;
}

.main-form_full-confirm-check {
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
}

.main-form_full-confirm-label {
  display: inline-block;
  vertical-align: top;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333;
  width: 470px;
}

.main-form_send-btn {
  display: inline-block;
  vertical-align: top;
  width: 175px;
  height: 40px;
  border-radius: 3px;
  background-color: #7fa935;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: default;
  float: right;
}

.main-form_send-btn:hover {
  background-color: #a3d942;
}

.main-form_success {
  display: none;
}

.main-form_success-title {
  font-family: Roboto;
  font-weight: 400;
  color: #fff;
  font-size: 32px;
  text-align: center;
  padding-top: 95px;
}

.main-form_success-text {
  font-family: Roboto;
  font-weight: 400;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

.main-form_fail {
  display: none;
}

.main-form_fail-title {
  font-family: Roboto;
  font-weight: 400;
  color: #fff;
  font-size: 32px;
  text-align: center;
  padding-top: 95px;
}

.main-form_fail-text {
  font-family: Roboto;
  font-weight: 400;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

.main-form_sending {
  display: none;
  padding: 100px 0;
  text-align: center;
}

.main-form_sending-img {
  width: 80px;
}

.custom-form-error .main-form_inp-val, .custom-form-error .main-form_text-val {
  background-color: #ffc2c0;
}

.custom-form-error .main-form_inp-req {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.custom-form-sending .main-form_sending {
  display: block;
}

.custom-form-sending .main-form_form {
  display: none;
}

.custom-form-success .main-form_success {
  display: block;
}

.custom-form-success .main-form_form {
  display: none;
}

.custom-form-fail .main-form_fail {
  display: block;
}

.custom-form-fail .main-form_form {
  display: none;
}

.order-popup {
  position: absolute;
  left: 50%;
  margin-left: -240px;
  width: 442px;
  -webkit-box-shadow: 0 0 7px 1px rgba(28, 28, 28, 0.35);
  box-shadow: 0 0 7px 1px rgba(28, 28, 28, 0.35);
  background-color: #ffffff;
  z-index: 1002;
  display: none;
}

.order-popup_visible {
  display: block;
}

.order-popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  z-index: 1001;
  display: none;
}

.order-popup__bg_visible {
  display: block;
}

.order-popup__close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  background-image: url("../img/close-black.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  cursor: pointer;
}

.order-popup__close:hover {
  opacity: 0.7;
}

.order-popup__prod {
  padding: 0 39px;
  padding-top: 30px;
  margin-bottom: 10px;
}

.order-popup__prod-img-wr {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 151px;
  height: 80px;
  overflow: hidden;
  margin-right: 10px;
  position: relative;
}

.order-popup__prod-img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.order-popup__prod-name {
  display: inline-block;
  vertical-align: top;
  width: 183px;
  color: #343434;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 400;
}

.order-popup__title {
  color: #343434;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 400;
}

.order-popup__title-info {
  color: #575757;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  font-style: italic;
  margin-top: 4px;
}

.order-popup__inp {
  padding-left: 40px;
  padding-right: 40px;
  margin: 14px 0;
}

.order-popup__inp_title {
  margin-bottom: 20px;
  padding-top: 20px;
}

.order-popup__inp_action {
  margin: 10px 0;
  padding-bottom: 40px;
  position: relative;
}

.order-popup__inp-label {
  color: #343434;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
}

.order-popup__inp-req {
  float: right;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 700;
  color: #d00;
  visibility: hidden;
  opacity: 0;
}

.order-popup__inp-req_confirm {
  margin-top: 5px;
}

.order-popup__inp-val {
  width: 100%;
  line-height: 30px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding-left: 10px;
  background-color: #FBFCFE;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.order-popup__text-val {
  width: 337px;
  height: 77px;
  line-height: 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #FBFCFE;
  outline: none;
  resize: none;
}

.order-popup__sendBtn {
  display: inline-block;
  vertical-align: top;
  width: 102px;
  height: 31px;
  line-height: 31px;
  background-color: #32486e;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.order-popup__sendBtn:hover {
  background-color: #4a638f;
}

.order-popup__confirmCehck-wrap {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.order-popup__confirmCehck {
  display: inline-block;
  vertical-align: top;
}

.order-popup__confirmCehck-label {
  display: inline-block;
  vertical-align: top;
  width: 174px;
  color: #444;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
}

.order-popup__full-confirm {
  display: none;
  position: absolute;
  top: -128px;
  left: 0;
  width: 500px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #eee;
}

.order-popup__full-confirm.visible {
  display: block;
}

.order-popup__full-confirm-close {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 15px;
  height: 15px;
  background-image: url(../img/close-black.png);
  background-size: cover;
  opacity: 0.8;
}

.order-popup__full-confirm-check {
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
}

.order-popup__full-confirm-label {
  display: inline-block;
  vertical-align: top;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333;
  width: 470px;
}

.order-popup__closeBtn {
  display: block;
  width: 127px;
  height: 31px;
  line-height: 31px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #00aeef;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.order-popup__success {
  display: none;
}

.order-popup__success-text {
  font-family: Roboto;
  font-weight: 400;
  color: #444;
  font-size: 17px;
  text-align: center;
  padding: 80px 30px;
}

.order-popup__fail {
  display: none;
}

.order-popup__fail-text {
  font-family: Roboto;
  font-weight: 400;
  color: #444;
  font-size: 17px;
  text-align: center;
  padding: 80px 30px;
}

.order-popup__sending {
  display: none;
  padding: 100px 0;
  text-align: center;
}

.order-popup__sending-img {
  width: 80px;
}

.custom-form-error .order-popup__inp-val {
  background-color: #ffdcdc;
}

.custom-form-error .order-popup__text-val {
  background-color: #ffdcdc;
}

.custom-form-error .order-popup__inp-req {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.custom-form-sending .order-popup__sending {
  display: block;
}

.custom-form-sending .order-popup__inputs {
  display: none;
}

.custom-form-success .order-popup__success {
  display: block;
}

.custom-form-success .order-popup__inputs {
  display: none;
}

.custom-form-fail .order-popup__fail {
  display: block;
}

.custom-form-fail .order-popup__inputs {
  display: none;
}

.text-page-menu-list {
  border-left: 1px solid #eaf4ff;
  position: relative;
  width: 300px;
}

.text-page-menu-list__middle {
  position: fixed;
  top: 114px;
  left: 50%;
  margin-left: -601px;
  z-index: 10;
}

.text-page-menu-list__bottom {
  position: absolute;
  bottom: 80px;
}

.text-page-menu-list_item {
  background-color: #fbfdff;
  color: #2f3c49;
}

.text-page-menu-list_item:hover {
  background-color: #e4ecfa;
}

.text-page-menu-list_link {
  font-family: "Roboto";
  font-weight: 400;
  color: inherit;
  font-size: 18px;
  display: block;
  padding: 16px 0;
  padding-left: 20px;
}

.text-page-menu-list_item__active {
  background-color: #32486e !important;
  color: #fff;
}

.text-page-menu-list_lev2-list {
  background-color: #eef4ff;
  padding: 10px 0;
  list-style-type: none;
  color: #32486e;
  font-size: 14px;
  display: none;
}

.text-page-menu-list_lev2-list__visible {
  display: block;
}

.text-page-menu-list_lev2-item {
  padding-left: 0;
  background-image: url("/img/blue-dot.png");
  background-position: 28px 19px;
  background-repeat: no-repeat;
}

.text-page-menu-list_lev2-item__active {
  background-color: #fcfdff !important;
  background-image: url("/img/green-dot.png");
}

.text-page-menu-list_lev2-item:hover {
  background-color: #f7faff;
}

.text-page-menu-list_lev2-link {
  font-family: "Roboto";
  font-weight: 400;
  color: inherit;
  font-size: 17px;
  display: block;
  padding: 13px 0;
  padding-left: 44px;
}

.text-page {
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
}

.text-page_catalog-load {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 23px;
  color: #0a3e74;
  text-align: center;
  padding-top: 40px;
}

.text-page_menu {
  width: 300px;
  padding-top: 57px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}

.text-page_content {
  width: 100%;
  min-height: 600px;
  padding-left: 350px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 17px;
}

.text-page_title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 33px;
  color: #0a3e74;
  padding-top: 50px;
  padding-bottom: 40px;
  position: relative;
  padding-left: 92px;
}

.text-page_title__service {
  line-height: 65px;
}

.text-page_title__service:before {
  position: absolute;
  content: "";
  top: 53px;
  left: 0px;
  background-image: url(../img/aes2.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 75px;
  height: 65px;
}

.text-page_title__proekt {
  line-height: 65px;
}

.text-page_title__proekt:before {
  position: absolute;
  content: "";
  top: 53px;
  left: 0px;
  background-image: url(../img/aes1.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 75px;
  height: 65px;
}

.text-page_title__stroymontaj:before {
  position: absolute;
  content: "";
  top: 53px;
  left: 0px;
  background-image: url(../img/aes3.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 75px;
  height: 65px;
}

.text-page_title__komplect {
  line-height: 65px;
}

.text-page_title__komplect:before {
  position: absolute;
  content: "";
  top: 53px;
  left: 0px;
  background-image: url(../img/aes5.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 75px;
  height: 65px;
}

.text-page_title__dispetcher {
  line-height: 65px;
}

.text-page_title__dispetcher:before {
  position: absolute;
  content: "";
  top: 53px;
  left: 0px;
  background-image: url(../img/aes4.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 75px;
  height: 65px;
}

.text-page_title__proverka {
  font-size: 30px;
  line-height: 33px;
}

.text-page_title__proverka:before {
  position: absolute;
  content: "";
  top: 53px;
  left: 0px;
  background-image: url(../img/aes6.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 75px;
  height: 65px;
}

.text-page_text {
  padding-bottom: 60px;
}

.text-page_text p {
  font-family: "Roboto";
  font-weight: 400;
  color: #2f3c49;
  font-size: 17px;
  text-indent: 20px;
  margin: 5px 0;
  text-align: justify;
}

.text-page_text h3 {
  font-family: "Roboto";
  font-weight: 700;
  color: #2f3c49;
  font-size: 23px;
  margin-bottom: 25px;
}

.text-page_text h4 {
  font-family: "Roboto";
  font-weight: 700;
  color: #2f3c49;
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 25px;
}

.text-page_text ul {
  padding-left: 60px;
}

.text-page_text ul li {
  font-family: "Roboto";
  font-weight: 400;
  color: #2f3c49;
  font-size: 17px;
  margin: 15px 0;
  position: relative;
  font-style: italic;
}

.text-page_text ul li:before {
  content: url(../img/li-marker.png);
  color: #69ab22;
  font-size: 34px;
  position: absolute;
  left: -21px;
  top: -12px;
}

.text-page_text ol {
  padding-left: 60px;
  list-style-type: decimal;
}

.text-page_text ol li {
  font-family: "Roboto";
  font-weight: 400;
  color: #2f3c49;
  font-size: 17px;
  margin: 24px 0;
  position: relative;
  font-style: normal;
}

.text-page_text ol li ul {
  padding-left: 60px;
  list-style-type: disc;
}

.text-page_text ol li ul li {
  font-family: "Roboto";
  font-weight: 400;
  color: #2f3c49;
  font-size: 17px;
  margin: 15px 0;
  position: relative;
  font-style: italic;
}

.text-page_text ol li ul li:before {
  content: "";
}

.equipments-list {
  font-size: 0;
  margin-top: 30px;
}

.equipments-list_clm {
  display: inline-block;
  vertical-align: top;
  width: 31%;
  margin: 0 1%;
}

.equipments-list_clm-title {
  font-family: "Roboto";
  font-weight: 700;
  color: #2f3c49;
  font-size: 19px;
  line-height: 40px;
}

.equipments-list_clm-items {
  border-right: 1px solid #eee;
  min-height: 307px;
}

.equipments-list_clm-items__last {
  border-right: none;
}

.equipments-list_clm-item-link {
  font-family: "Roboto";
  font-weight: 400;
  color: #2f3c49;
  font-size: 17px;
  padding: 10px 10px;
  text-indent: 0;
  display: inline-block;
  position: relative;
}

.equipments-list_clm-item-link:before {
  content: "";
  background-image: url("/img/item-triangle.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  width: 6px;
  height: 10px;
  position: absolute;
  top: 12px;
  left: -6px;
}

.equipments-list_clm-item-link:hover:before {
  background-image: url("/img/item-triangle-hover.png");
  left: -4px;
  -webkit-transition: left 0.2s linear;
  transition: left 0.2s linear;
}

.equipments-detail {
  padding-left: 0px;
  min-height: 510px;
  font-size: 0;
}

.equipments-detail-cats {
  display: inline-block;
  vertical-align: top;
  width: 287px;
  padding-right: 0;
}

.equipments-detail-cats_item {
  display: block;
  font-family: "Roboto";
  font-weight: 400;
  color: #2f3c49;
  font-size: 17px;
  margin: 0px 0;
  padding: 13px;
  position: relative;
  line-height: 19px;
}

.equipments-detail-cats_item:hover {
  color: #000000;
}

.equipments-detail-cats_item__active {
  background-color: #32486e;
  color: #fff;
}

.equipments-detail-cats_item__active:hover {
  color: #fff;
}

.equipments-detail-cats_item__active:before {
  content: "";
  background-image: url(/img/item-triangle.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  width: 10px;
  height: 17px;
  position: absolute;
  top: 14px;
  right: 13px;
}

.equipments-detail-items {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  font-size: 0;
  border-left: 1px solid #eee;
  min-height: 220px;
}

.equipments-detail-items_item {
  margin-left: 20px;
  border-bottom: 1px solid #f9f5f5;
  padding-top: 15px;
  padding-bottom: 15px;
}

.equipments-detail-items_item:first-child {
  padding-top: 0;
}

.equipments-detail-items_manuf {
  float: left;
  width: 200px;
}

.equipments-detail-items_manuf-logo {
  max-width: 137px;
  margin-top: 15px;
}

.equipments-detail-items_prods {
  display: inline-block;
  vertical-align: top;
}

.equipments-detail-items_prod {
  display: block;
  font-family: "Roboto";
  font-weight: 400;
  color: #2f3c49;
  font-size: 17px;
  margin: 15px 0;
  text-decoration: underline;
  cursor: pointer;
}

.equipments-detail-content {
  display: none;
}

.equip-popup {
  position: absolute;
  left: 50%;
  margin-left: -240px;
  width: 442px;
  -webkit-box-shadow: 0 0 7px 1px rgba(28, 28, 28, 0.35);
  box-shadow: 0 0 7px 1px rgba(28, 28, 28, 0.35);
  background-color: #ffffff;
  z-index: 1002;
  display: none;
}

.equip-popup_visible {
  display: block;
}

.equip-popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  z-index: 1001;
  display: none;
}

.equip-popup__bg_visible {
  display: block;
}

.equip-popup__close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  background-image: url("../img/close-black.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  cursor: pointer;
}

.equip-popup__close:hover {
  opacity: 0.7;
}

.equip-popup__prod {
  padding: 0 39px;
  padding-top: 30px;
  margin-bottom: 10px;
}

.equip-popup__prod-img-wr {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 151px;
  height: 80px;
  overflow: hidden;
  margin-right: 10px;
  position: relative;
}

.equip-popup__prod-img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.equip-popup__prod-name {
  display: inline-block;
  vertical-align: top;
  width: 183px;
  color: #343434;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 400;
}

.equip-popup__title {
  color: #343434;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 400;
}

.equip-popup__inp {
  padding-left: 40px;
  padding-right: 40px;
  margin: 14px 0;
}

.equip-popup__inp_title {
  margin-bottom: 25px;
}

.equip-popup__inp_action {
  margin: 10px 0;
  position: relative;
}

.equip-popup__inp-label {
  color: #343434;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
}

.equip-popup__inp-req {
  float: right;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 700;
  color: #d00;
  visibility: hidden;
  opacity: 0;
}

.equip-popup__inp-req_confirm {
  margin-top: 5px;
}

.equip-popup__inp-val {
  width: 100%;
  line-height: 30px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding-left: 10px;
  background-color: #FBFCFE;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.equip-popup__text-val {
  width: 337px;
  height: 77px;
  line-height: 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #FBFCFE;
  outline: none;
  resize: none;
}

.equip-popup__full-confirm {
  display: none;
  position: absolute;
  top: -128px;
  left: 0;
  width: 500px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #eee;
}

.equip-popup__full-confirm.visible {
  display: block;
}

.equip-popup__full-confirm-close {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 15px;
  height: 15px;
  background-image: url(../img/close-black.png);
  background-size: cover;
  opacity: 0.8;
}

.equip-popup__full-confirm-check {
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
}

.equip-popup__full-confirm-label {
  display: inline-block;
  vertical-align: top;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333;
  width: 470px;
}

.equip-popup__sendBtn {
  display: inline-block;
  vertical-align: top;
  width: 102px;
  height: 31px;
  line-height: 31px;
  background-color: #32486e;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.equip-popup__sendBtn:hover {
  background-color: #4a638f;
}

.equip-popup__confirmCehck-wrap {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.equip-popup__confirmCehck {
  display: inline-block;
  vertical-align: top;
}

.equip-popup__confirmCehck-label {
  display: inline-block;
  vertical-align: top;
  width: 174px;
  color: #444;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
}

.equip-popup__closeBtn {
  display: block;
  width: 127px;
  height: 31px;
  line-height: 31px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #00aeef;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.equip-popup__success {
  display: none;
}

.equip-popup__success-text {
  font-family: Roboto;
  font-weight: 400;
  color: #444;
  font-size: 17px;
  text-align: center;
  padding: 80px 30px;
}

.equip-popup__fail {
  display: none;
}

.equip-popup__fail-text {
  font-family: Roboto;
  font-weight: 400;
  color: #444;
  font-size: 17px;
  text-align: center;
  padding: 80px 30px;
}

.equip-popup__sending {
  display: none;
  padding: 100px 0;
  text-align: center;
}

.equip-popup__sending-img {
  width: 80px;
}

.custom-form-error .equip-popup__inp-val {
  background-color: #ffdcdc;
}

.custom-form-error .equip-popup__inp-req {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.custom-form-sending .equip-popup__sending {
  display: block;
}

.custom-form-sending .equip-popup__inputs {
  display: none;
}

.custom-form-success .equip-popup__success {
  display: block;
}

.custom-form-success .equip-popup__inputs {
  display: none;
}

.custom-form-fail .equip-popup__fail {
  display: block;
}

.custom-form-fail .equip-popup__inputs {
  display: none;
}

.contacts {
  min-height: 600px;
  background-image: url(../img/plusi-bg.png);
  background-position: top center;
  background-repeat: no-repeat;
}

.contacts_title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 33px;
  color: #0a3e74;
  padding-top: 9px;
  padding-bottom: 28px;
}

.contacts_map {
  display: inline-block;
  vertical-align: top;
  width: 600px;
}

.contacts_info {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin-left: 32px;
  padding-top: 20px;
}

.contacts_info-item {
  margin-bottom: 30px;
}

.contacts_info-item-label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  color: #0a3e74;
  margin-bottom: 14px;
}

.contacts_info-item-val {
  display: block;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 300;
  color: #2f3c49;
  font-size: 17px;
}

.contacts_info-item-val b {
  font-weight: 400;
  color: #141313;
}

.contacts_info-item-val-line {
  padding: 5px 0;
}

.login {
  text-align: center;
}

.login__form {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-top: 61px;
  margin-bottom: 100px;
  width: 285px;
  padding: 20px 60px;
  background-color: #fbfbfb;
  border-radius: 4px;
  font-family: sans-serif;
}

.login__form label {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}

.login__form-error {
  margin-top: 5px;
}
